# Virtual environment directory
venv/

# VSCode files
easy_internship_api/.vscode/.ropeproject/objectdb

# .pyc files
*.pyc

# SQLite3 database
db.sqlite3

# Coverage files
.coverage
htmlcov/

# API configuration file
easy_internship_api/easy_internship_api/config.py
